body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: black;
}
h2{
    font-size: 40px;
    color: white;

}
.flexable_container{
    display: flex;
    padding: 5%;
   
}
.Priti{
    width: 50%;
    padding: 5%;
}
img{
    width: 80%;
    border-radius: 50%;
}
.Prasun{
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 10px;
    background-image: linear-gradient(blue, blueviolet);
    color: white;
    font-weight: 700;
}
.Upper{
    background-image: url(images/wave.svg);
    background-repeat: no-repeat;
}
.About{
    color: black;
}
.Specializing{
    color: black;
    text-align: center;
}
.Detail{
    text-align: center;
    /* padding: 30%; */
}
.Parent{
    display: flex;
    padding: 0 20%;
}
.A{
    box-shadow: 10px 5px 40px black;
    margin: 2%;
    padding: 50px;
    border-radius: 0 20px 50px 0;
    border-left: 5px solid rgb(209, 131, 131);
}
.contact{
    padding: 10px 50px;
    border-radius: 50px;
    background-image: linear-gradient(rgb(208, 246, 245),rgb(184, 222, 221));
    text-align: center;
}
.project{
    color: black;
    text-align: center;
}
.Alexa{
    color: maroon;
    text-align: center;

}
.image{
    width: 20%;
    padding: 0 40% ;
    
}
footer{
    text-align: center;
}